<div>
    {{#comments}}
    <div class="card m-2" style="margin:20px">
        <div class="card-header">{{username}}</div>
        <div class="card-body">
            <p class="card-text">{{body}}</p>
        </div>
    </div>
    {{/comments}}
</div>