{{>layouts/header}}

<table class="table">
    {{#article}}
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    </tbody>
    {{/article}}
</table>

<button>
    <a href="/articles">Home</a>
</button>

<button>
    <a href="/articles/edit/{{article.id}}">Edit</a>
</button>

<button>
    <a href="/articles/delete/{{article.id}}">Delete</a>
</button>

{{>comments/commentsList}}

{{>layouts/footer}}