{{>layouts/header}}

<table class="table">
    {{#article}}
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    </tbody>
    {{/article}}
</table>

<a href="/articles">Home</a>
<a href="/articles/edit/{{article.id}}">Edit</a>

{{>layouts/footer}}